
body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #0f1c38;
    position: sticky;
    top: 0;
    z-index: 2;
}

#div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#div1 a{
    color: #82b192;
    margin-bottom: 0;
    font-size: 20px;
    text-decoration: none;
}

#div1 p{
    margin-top: 0;
    position: relative;
    bottom: 35px;
}

#div2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

#div2 a{
    text-decoration: none;
    color: white;
    background-color: #132e6b;
    padding: 10px;
    border-radius: 20px;
}

#div2 a:hover{
    scale: 1.25;
    transition: 0.4s;
    background-color: #3a5186;
}

#div3{
    display: flex;
    width: 95%;
    height: 600px;
    background: url(./imgs/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 2.5%;
}

#div3 p{
    position: relative;
    font-size: 14px;
    color: white;
    animation-name: sentenceMoving;
    animation-duration:10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    display: flex;
    font-weight: bolder;
}

@keyframes sentenceMoving{
    0%{
        left: 0;
        top: 0;
    }

    20%{
        left: 35%;
        top: 200px;
        rotate: 30deg;
        color: #5cbc28;
    }

    40%{
        left: 70%;
        top: 10%;
        rotate: -30deg;
        color: #38a806;
    }

    60%{
        left: 0;
        top: 400px;
        rotate: 0deg;
        color: #86a9fb;
    }

    80%{
        left: 70%;
        top: 400px;
        rotate: 30deg;
        color: #6284fc;
    }

    100%{
        left: 0;
        top: 0;
        rotate: 0deg;
        color: white;
    }
}

main{
    padding-top: 3%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    display: flex;
    flex-direction: row;  
    align-items: center;  
    justify-content: center;
    gap: 1%;
}

main p{
    text-align: justify;
    border: #38a806 2px solid;
    padding: 2.5%;
    background-color: #afc9f9;
    height: 350px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #0f1c38;
    color: #747d8f;
    padding-left: 2.5%;
    padding-right: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer a{
    text-decoration: none;
    color: #747d8f;
}

#div4{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    gap: 30px;
    align-items:flex-start;
    justify-content: space-between;
}

#div5{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 40%;
    align-items: flex-start;
}

#div5_1{
    display: flex;
    flex-direction: row;
}

#img2{
    scale: 0.7;
}

#img3{
    scale: 0.9;
    position: relative;
    right: 20px;
}

#div6{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#div7{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#div8{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#div8 p{
    margin: 0;
}

#div9{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 1%;
}

.footertitles{
    color: white;
}


#contactinfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}